.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#balloon {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
}